*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-logo {
  font-weight: 900;
  font-size: 2em;
}

.Jumbotron {
  position: relative;
 
  width: 100%;
  min-height: 25vh;
  /* margin: 0 20px; */
  /* padding: 40px; */
  background: url(./seoul-vector.svg)  rgb(150, 210, 220);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(150, 200, 255);
  border-radius: 15px;
}

.Jumbotron h1 {
  margin-top: 80px;
  margin-bottom: 30px;
}

.Jumbotron p {
  margin: 10px 0;
}

.Jumbotron Button {
  margin-top: 30px;
  margin-bottom: 50px;
}

.product {
  display: flex;
  flex-direction: column;
  /* background: rgb(202, 76, 76); */
  border-radius: 5px;
  padding: 0 0;
  overflow: hidden;
  margin-bottom: 5px;
}

.product .imgBx {  
  padding: 2% 0 2% 0;
  /* border: 1px dashed red; */
}

.imgBx img {
  width: 100%;
  max-height: 25vh;
  padding: 0 10px;
  object-fit: cover;
}

.product h4 {
  font-size: 1.2em;
  font-weight: 700;
  text-align: right;
  color: white;
  margin: 0;
  padding-right: 10px;
  border-bottom: 0.5px solid white;
  line-height: 2em;
}

.product p {
  margin: 0;
  line-height: 1.8em;
}

.text-main {
  border-bottom: 0.5px solid white;
  color: white;
  font-size: 0.9em;
}
.text-sub {
  color: white;
  font-size: 0.9em;
}
.bd-red {
  border: 3px solid rgb(202, 76, 76);
}
.red {
  background: rgb(200, 80, 80);
}
.rred {
  background: rgb(230, 80, 80);
}

.rrred{
  background: rgb(250, 80, 80);
}


.bd-blue {
  border: 3px solid  rgb(60, 100, 210);
}

.blue {
  background: rgb(60, 100, 210);
}

.bblue {
  background: rgb(60, 90, 170);
}

.bbblue {
  background: rgb(60, 80, 140);
}

.bd-crimson {
  border: 3px solid  rgb(200, 20, 20);
  
}
.crimson {
  background: rgb(200, 20, 20);
}

.ccrimson {
  background: rgb(180, 20, 20);
}

.cccrimson {
  background: rgb(160, 20, 20);
}


.bd-gray {
  border: 3px solid  rgb(180, 180, 180);
}

.gray {
  background:  rgb(120, 120, 120);
}

.ggray {
  background: rgb(190, 190, 190);
}

.gggray {
  background: rgb(190, 190, 190);
}

.my-alert {
  position: absolute;
  width: 100%;
  background: rgb(200, 80, 80);
}

.my-alert p {
  line-height: 2em;
  margin-top: 1em;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}